.menu-filter{
    background-color: #EC1010;
    border: none;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    margin: 0 5px 10px 10px;
    cursor: pointer;
    color: #fff;
}

.menu-filter:hover {
    box-shadow: 4px 4px 4px rgba(0,0,0,.2);
}

.menu-filter:active {
    background-color: rgb(240, 101, 101);
}