.label-login {
    width: 20%;
    color: rgba(26, 26, 26, 0.77);
    font-size: 18px;
    line-height: 50px;
}

.label-error {
    text-align: center;
    font-size: 18px;
    color: rgb(240, 101, 101);
    width: 100%;

}