.product-card{

    color: #343a40;
    height: 100px;
    width: 120px;
    border-radius: 8px;
    margin: 5px;
    padding: 8px;
    background-color: #f8f9fa;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
}

.product-card:hover {
    box-shadow: 0 0 10px grey;
}
.product-card > p:nth-child(1){
    font-weight: 700;
    max-block-size: 10%;
}

.product-card > p:nth-child(2){
    align-self: flex-end;

}