.product-card{
    color: #010101;
    height: 100px;
    width: 110px;
    border-radius: 10px;
    margin: 5px;
    padding: 8px;
    background-color: #f8f9fa;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product-card:hover {
    box-shadow: 4px 4px 4px rgba(0,0,0,.2);
}
.product-card > p:nth-child(1){
    font-weight: 700;
    max-block-size: 25%;
}

.product-card > p:nth-child(2){
    text-align: right;
}