.input-login {
    width: 40%;
    padding: 0px 25px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 50px;
    font-size: 18px;
    color: grey;
    border: none;
    outline: none;
}

.input-login::placeholder {
    line-height: 47px;
    color: grey;
    text-align: center;
    vertical-align: auto;

}

.input-error {
    border: 1px solid rgb(240, 101, 101);
    color: rgb(240, 101, 101);
}

.input-error::placeholder {
    color: rgb(240, 101, 101);
}