.input-login {
    width: 70%;
    padding: 0px 30px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 50px;
    font-size: 20px;
    color:#010101;
    border: none;
    outline: none;
}

.input-error {
    border: 1px solid rgb(240, 101, 101);
    color: rgb(240, 101, 101);
}

.input-error::placeholder {
    color: rgb(240, 101, 101);
}