nav{
    background-color: #EE3124;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > img {
    height: 40px;
    padding: 10px 20px;
}

.btn-logout {
    color: #ffffff;
    font-size: 15px;
    background-color: #EE3124;
    border: 1px solid #fff;
    outline: none;
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
}
.btn-logout > img {
    width: 20px;
    margin-right: 5px;
}
.flex-row {
    display: flex;
}