nav{
    background-color: #EE3124;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > img {
    height: 40px;
    padding: 2vh;
    
}

.btn-logout {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    padding-right: 2vw;
    background-color: #EE3124;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
}
.btn-logout > img {
    width: 30px;
    margin-right: 5px;
}